<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeenicsCardSwipeMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FeenicsCardSwipeMonitor.Properties.Settings>
            <setting name="InstanceName" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiCallDelayMs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
        </FeenicsCardSwipeMonitor.Properties.Settings>
    </userSettings>
</configuration>